* {
margin: 0;
}

.header{
background-color: whitesmoke;  
height: 100vh;
}

.header-title{
    font-size: 100px;
    
}

.title-black{
    color: black;
}

.title-red{
    color: red;
    opacity: 0.5;
}

.title-blue{
    color: blue;
    opacity: 0.5;
}

.header-button-black{
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 300px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.header-button-red{
    background-color: red;
    height: 50px;
    width: 300px;
    opacity: 0.5;
}

.header-button-blue{
    background-color: blue;
    height: 50px;
    width: 300px;
    opacity: 0.5;
}